# Node modules
node_modules/

# Compiled output
dist/
out/

# VSCode extension package files
*.vsix

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac system files
.DS_Store

# TypeScript cache
*.tsbuildinfo
